@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');


h1  {
    color: rgb(211,211,211);
    text-align: center;
    background-image: url('Pics/filantes.jpg');
    background-position: top;
    font-family: 'Sour Gummy';
    text-shadow: 2px 2px 0px rgb(144, 75, 223);
}

h2  {
    color:white;
    border: rgb(160, 141, 141);
    font-family: 'Sour Gummy' , cursive;
    text-shadow: 2px 2px 0px rgb(144, 75, 223);
}

h3{
    margin: 30px;
    color: #c3bfcf;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 3px 1px 0px rgb(0, 0, 0);
}

h4{
    margin: 5px;
    color: #cdbefc;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
}

p{
    color:rgb(211, 211, 211);
    font-size: 20px;
    background-color: Rgb(160, 141, 141);
    border-radius: 5% 95% 5% 95% / 80% 48% 52% 50% ;
    border-radius: 8px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
    padding: 50px;
    margin: auto;
}

body{
    background:linear-gradient(to bottom right, #b66100 0%, #7700c7  100%);
    background-attachment: fixed;
}

li{
    color: rgb(211, 211, 211);
    font-size: 25px;
}

.bord {
    font-size: 20px;
    background-color: rgba(117, 65, 128, 0.479);
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%   ;
    box-shadow: 3px 3px 15px rgba(211, 211, 211);
    padding: 30px;
    border: 2px solid rgb(211, 211, 211);
    margin: 20px;
}
.block{
    color:rgb(255, 255, 255);
    font-size: 20px;
    background-color: #0000007c;
    border-radius: 5% 95% 5% 95% / 80% 48% 52% 50% ;
    border-radius: 8px;
    box-shadow: 3px 3px 0px #000000;
    padding: 30px;
}

.block2{
    color:rgb(255, 255, 255);
    font-size: 20px;
    background-color: #0000007c;
    border-radius: 5% 95% 5% 95% / 80% 48% 52% 50% ;
    border-radius: 8px;
    box-shadow: 3px 3px 0px #000000;
    padding: 30px;
}

h4{
    margin:Auto;
}

.PList{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.PList2{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-right: 130px;
}

.PListC1{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.bord2 {
    font-size: 20px;
    background-color: rgba(212, 0, 255, 0.212);
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%   ;
    box-shadow: 3px 3px 15px rgba(177, 0, 0, 0.637);
    padding: 15px;
    border: 1px solid rgba(196, 0, 0, 0.637);
    margin: 60px;
}

.bord2 {
    font-size: 20px;
    background-color: rgba(212, 0, 255, 0.212);
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%   ;
    box-shadow: 3px 3px 15px rgba(78, 55, 209, 0.637);
    padding: 15px;
    border: 1px solid rgba(120, 76, 161, 0.637);
    margin: 60px;
}

table {

    border-collapse: revert;
    border: 4px solid #757575;
    letter-spacing: 1px;
    font-size: 3rem;
    color: black;
}

th , td {
    border:2px solid rgb(175, 175, 175);
    padding:20px 20px
}

label{
    color : rgb(38, 73, 138);
    margin:3px;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    
    font-size: 30px;
    text-decoration: underline;
}

legend{
    color: rgb(255, 255, 255);
    background-position: top;
    font-family: 'Sour Gummy';
    text-shadow: 2px 2px 0px rgb(36, 0, 77)
}

@media screen and (max-width 1200px){
    p{
        height: 250px ;
        width: 110px ;

        overflow: auto;
    }
    form{
        width: 250px;
        height: 110px;
        text-align: justify;
        overflow: auto;
    }
}